*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 65px 0 0;
  padding: 0;
}

section.anchor::before {
  display: block;
  content: " ";
  padding-top: 65px;
  margin-top: -65px;
}

/* NAVBAR */

nav {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;  
  background: #222;
}

nav ul {
  margin: 0 5%;
  padding: 0;
  text-decoration: none;
  list-style: none;
  display: flex;
}

li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #eee;
}

.logo {
  margin-right: auto;
}

