body {
  margin: 202px 0 0;
  padding: 0;
  font-size: 1.5em;
  background-color: #fafafa;
  text-align: center;
}

section {
  margin-bottom: 202px;
}

section.anchor::before {
  display: block;
  content: " ";
  padding-top: 202px;
  margin-top: -202px;
}

/* NAVBAR */

nav {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;  
  background: #222;
}

nav ul {
  margin: 0 5%;
  padding: 0;
  text-decoration: none;
  align-items: center;
}

@media screen and (min-width: 570px) {
  body {
    margin: 65px 0 0;
  }
  nav ul {
    display: flex;
  }

  section {
    padding-bottom: 85px;
    margin-bottom: 85px;
  }
  
  section.anchor::before {
    padding-top: 65px;
    margin-top: -65px;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

li a, li span {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #eee;
}

.logo {
  margin-right: auto;
}

em {
  font-size: .8em;
}

/* ABOUT */

.young {
  border-radius: 50%;
  border: 3px solid black;
  height: 200px;
}

.about {
  margin: 3% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

figcaption {
  text-align: center;
}

ul.jargon {
  columns: 100px 2;
  font-size: 1.3rem;
}

@media screen and (min-width: 600px) {
  .about {
    flex-direction: row;
    justify-content: space-around;
  }

  figure {
    order: 2;
  }

  .young {
    height: 30vw;
    max-height: 300px;
  }
}

/* PORTFOLIO */

.portfolio {
  background-color: #444;
  color: #ccc;
}

.port-items {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; 
  text-align: center; 
}

.port-items a {
  color: #222;
  text-decoration: none;
}

.port-items:after {
  content: "";
  flex: auto;
}

.port-item {
  display: inline-block;
  margin: 4% 2%;
  width: 100%;
  color: #333;
  background-color: #f5f5f5;
  box-shadow: 0 3px   6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.port-item:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.port-item img {
  max-width: 100%;
  border-bottom: 1px solid #ccc;
}

@media screen and (min-width: 500px) {
  .port-items {
    width: 85%;
  }

  .port-item {
    width: 46%;
  }
}

@media screen and (min-width: 900px) {
  .port-items {
    width: 75%;
  }

  .port-item {
    width: 29.3%;
  }
}

/* CONTACT */

.email-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
}

.email-form input, textarea {
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 500px) {
  .email-form {
    width: 60%;
  }
}

@media screen and (min-width: 900px) {
  .email-form {
    width: 40%;
  }
}

.contact-links {
  margin: 3%;
}

.square {
  font-size: 5rem;
  margin: 1%;
  color: #444;
}

.blog {
  font-size: 4.4rem;
  color: #444;
  margin: 1% 1% 1.4%;
}